---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import BottomNav from '../components/BottomNav.astro';
import { Verifier } from '../components/Verifier';
---
<BaseLayout title="SCDV Verificador">
  <Header />
  <main class="flex-1">
    <Verifier client:load />
  </main>
  <BottomNav />
</BaseLayout>
